@import "tailwindcss";

@theme{
    --color-primary: #2d2d2d;
    --color-brand: #3976fb;
}
@utility container {
    margin: auto;
}

.batchList div:nth-child(odd) {
  @apply bg-slate-300 hover:bg-slate-400;
}
